@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .react-calendar__tile--active{
        background-color: #FB2576 !important;
        color: white;
    }
    input[type=number]{
        -webkit-appearance: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

}